$mapTemplateArea: (
   main: "information imageInformation" "sectionA sectionA" "sectionB sectionB" "sectionC sectionC" "sectionD sectionD",
   category: "Banner Banner" "Product Product",
);
$mapTemplateAreaResponsive: (
   main: "imageInformation" "information" "sectionA" "sectionB" "sectionC" "sectionD",
   category: "Banner" "Filter" "Product",
);
$mapAnyCategory: (
   1: #b0bbc9,
   2: #f2d8e1,
   3: #b2c3c9,
   4: #fbe0b3,
   5: #c3b1bc,
   6: #e5d4cc,
);