$mapTemplateArea: (
   main: "information imageInformation" "sectionA sectionA" "sectionB sectionB" "sectionC sectionC" "sectionD sectionD",
   category: "Banner Banner" "Product Product",
);
$mapTemplateAreaResponsive: (
   main: "imageInformation" "information" "sectionA" "sectionB" "sectionC" "sectionD",
   category: "Banner" "Filter" "Product",
);
