$bg-primary-color: #ee6983;
$bg-dark-color: #000000;
$bg-light-color: #ffffff;
$tx-dark-color: #000000;
$tx-light-color: #ffffff;
$tx-gray-color: #848e9c;
$max-width: 1248px;
$padding: 1rem 4rem;
$paddingMobile: 1rem 2rem;